## Preprocessing

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import load_model

In [21]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_type_counts[application_type_counts < 550].index)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classificacion_val = application_df['CLASSIFICATION'].value_counts()
classificacion_val.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classificacion_val1 = classificacion_val.loc[classificacion_val > 1]
classificacion_val1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classificacion_val[classificacion_val < 400].index)

## application_types_to_replace = list(application_type_counts[application_type_counts < 550].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_dummies['IS_SUCCESSFUL'].values
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

## code obtained from class activity: 21-Neural-Networks-Deep-Learning\2\Activities\06-Ins_GettingReal
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 1   ## testing these values based on the chart given

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# # Output layer
# nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 80)                3520

 dense_9 (Dense)             (None, 30)                2430

 dense_10 (Dense)            (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [17]:
# Compile the model
## code obtained from class activity: 21-Neural-Networks-Deep-Learning\2\Activities\06-Ins_GettingReal
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [18]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 6s 3ms/step - loss: 0.9863 - accuracy: 0.6885
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.7768 - accuracy: 0.7172
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.8192 - accuracy: 0.7142
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.8861 - accuracy: 0.7133
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.7557 - accuracy: 0.7050
Epoch 6/100
804/804 [==============================] - 3s 3ms/step - loss: 0.7101 - accuracy: 0.7244
Epoch 7/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6648 - accuracy: 0.7250
Epoch 8/100
804/804 [==============================] - 3s 3ms/step - loss: 0.7243 - accuracy: 0.7095
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6101 - accuracy: 0.7248
Epoch 10/100
804/804 [==============================] - 3s 4ms/step - loss: 0.6147 - accuracy: 0.7236
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5986 - accuracy: 0.7308
Epoch 12/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6000 - accuracy: 0.7279
Epoch 13/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5976 - accuracy: 0.7315
Epoch 14/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5889 - accuracy: 0.7308
Epoch 15/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5845 - accuracy: 0.7274
Epoch 16/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5779 - accuracy: 0.7298
Epoch 17/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6335 - accuracy: 0.7285
Epoch 18/100
804/804 [==============================] - 3s 3ms/step - loss: 0.6040 - accuracy: 0.7293
Epoch 19/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5967 - accuracy: 0.7313
Epoch 20/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5923 - accuracy: 0.7294
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5815 - accuracy: 0.7308
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5811 - accuracy: 0.7299
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5729 - accuracy: 0.7322
Epoch 24/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5750 - accuracy: 0.7320
Epoch 25/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5786 - accuracy: 0.7315
Epoch 26/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5740 - accuracy: 0.7300
Epoch 27/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5805 - accuracy: 0.7286
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5769 - accuracy: 0.7334
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5864 - accuracy: 0.7267
Epoch 30/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5835 - accuracy: 0.7317
Epoch 31/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5807 - accuracy: 0.7311
Epoch 32/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5852 - accuracy: 0.7267
Epoch 33/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5748 - accuracy: 0.7322
Epoch 34/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5631 - accuracy: 0.7337
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5630 - accuracy: 0.7337
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5672 - accuracy: 0.7315
Epoch 37/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5690 - accuracy: 0.7345
Epoch 38/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5620 - accuracy: 0.7340
Epoch 39/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5710 - accuracy: 0.7344
Epoch 40/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5692 - accuracy: 0.7351
Epoch 41/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5678 - accuracy: 0.7355
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5687 - accuracy: 0.7332
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5659 - accuracy: 0.7360
Epoch 44/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5716 - accuracy: 0.7361
Epoch 45/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5695 - accuracy: 0.7346
Epoch 46/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5749 - accuracy: 0.7335
Epoch 47/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5759 - accuracy: 0.7346
Epoch 48/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5699 - accuracy: 0.7352
Epoch 49/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5739 - accuracy: 0.7329
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5648 - accuracy: 0.7361
Epoch 51/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5609 - accuracy: 0.7363
Epoch 52/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5581 - accuracy: 0.7353
Epoch 53/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5639 - accuracy: 0.7362
Epoch 54/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5682 - accuracy: 0.7364
Epoch 55/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5681 - accuracy: 0.7355
Epoch 56/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5665 - accuracy: 0.7349
Epoch 57/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5594 - accuracy: 0.7376
Epoch 58/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5764 - accuracy: 0.7326
Epoch 59/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5643 - accuracy: 0.7371
Epoch 60/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5675 - accuracy: 0.7355
Epoch 61/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5709 - accuracy: 0.7356
Epoch 62/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5668 - accuracy: 0.7372
Epoch 63/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5631 - accuracy: 0.7366
Epoch 64/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5622 - accuracy: 0.7377
Epoch 65/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5618 - accuracy: 0.7357
Epoch 66/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5654 - accuracy: 0.7372
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5651 - accuracy: 0.7276
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5639 - accuracy: 0.7332
Epoch 69/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5655 - accuracy: 0.7369
Epoch 70/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5626 - accuracy: 0.7372
Epoch 71/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5638 - accuracy: 0.7363
Epoch 72/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5609 - accuracy: 0.7379
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5627 - accuracy: 0.7383
Epoch 74/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5606 - accuracy: 0.7389
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5677 - accuracy: 0.7355
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5626 - accuracy: 0.7379
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5627 - accuracy: 0.7382
Epoch 78/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5636 - accuracy: 0.7374
Epoch 79/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5675 - accuracy: 0.7350
Epoch 80/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5668 - accuracy: 0.7369
Epoch 81/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5584 - accuracy: 0.7367
Epoch 82/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5580 - accuracy: 0.7379
Epoch 83/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5605 - accuracy: 0.7374
Epoch 84/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5618 - accuracy: 0.7343
Epoch 85/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5730 - accuracy: 0.7305
Epoch 86/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5632 - accuracy: 0.7379
Epoch 87/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5600 - accuracy: 0.7381
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5666 - accuracy: 0.7381
Epoch 89/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5676 - accuracy: 0.7331
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5608 - accuracy: 0.7374
Epoch 91/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5610 - accuracy: 0.7381
Epoch 92/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5724 - accuracy: 0.7354
Epoch 93/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5901 - accuracy: 0.7266
Epoch 94/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5662 - accuracy: 0.7373
Epoch 95/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5664 - accuracy: 0.7378
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5813 - accuracy: 0.7301
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5756 - accuracy: 0.7383
Epoch 98/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5791 - accuracy: 0.7386
Epoch 99/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5677 - accuracy: 0.7385
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5771 - accuracy: 0.7385

In [19]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5955 - accuracy: 0.7242 - 844ms/epoch - 3ms/step
Loss: 0.5954684615135193, Accuracy: 0.7241982221603394

In [24]:
# Export our model to HDF5 file
## code obtained from class activity: 21-Neural-Networks-Deep-Learning\3\Activities\03-Evr_SageMaker
nn.save("AlphabetSoupCharity_Optimization.h5")